<li>
  <div class='item'>
    <div class='icon <%= post.is_published?? 'published' : 'draft' %>'></div>
    <div class='btn-group'>
      <% unless ComfyBlog.disqus_enabled? %>
        <%= link_to pluralize(post.comments.count, 'comment'), admin_blog_post_comments_path(post), :class => "btn btn-small" %>
      <% end %>
      <%= link_to 'Edit', edit_admin_blog_post_path(post), :class => "btn btn-small" %>
      <%= link_to 'Delete', admin_blog_post_path(post), :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-small btn-danger" %>
    </div>
    <div class='item-content'>
      <%= link_to post.title.titleize, edit_admin_blog_post_path(post) %>
      <div class='item-meta'>
        Published <%= time_ago_in_words(post.created_at) %> ago
        
        <% if post.author.present? %>
          by <strong><%= post.author %></strong>
        <% end %>
        
        <% if post.tags.count > 0 %>
          Tagged with:
          <% post.tags.each do |tag| %>
            <span class="tag"><%= tag.name %></span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</li>
